a,li{
    text-decoration: none;
}

li{
    list-style:none;
}
ul.blog-types{
    list-style-type: none;
}

#atag{
    padding: 10px;
    color: black;
}
/* 目录文章标题 */


/*分页器*/
.paginationdiv{
    text-align: center;
    width: 250px;
    margin: 3px auto;
}

.pagination>li{
    padding: 10px;
}

.blog-profile{
    margin-top: 23px;
}
/*文章内容*/
.markdown-body{
    margin-top: 28px;
}

.blog-right-center{
    margin-top: 20px;
}
.coment-tip{
    border-bottom: 1px black solid;
    font-size: 17px;
    padding-bottom: 1em;
}
.blog-right-centom{
    margin-top: 60px;
}
.comment-bt{
    font-size: 17px;
    margin-top: 20px;
}

div.blog h4{
    margin-top: 0.5em;
}
div.blog p.blog-info{
    margin-bottom: 0;
}
ul.blog-info-description{
    list-style-type: none;
    margin-top: 22px;
    margin-bottom: -0.1em;
}
ul.blog-info-description li{
    display: inline-block;
    margin-right: 2em;
}
div.blog-content{
    text-indent: 2em;
}
div.blog-more{
    margin-top: 1em;
}

div.django-ckeditor-widget {
    width: 100%;
}
div.comment {
    border-bottom: 1px dashed #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
}
div.reply {
    margin-left: 2em;
}
div#reply_content_container {
    border: 1px solid #d1d1d1;
    border-bottom: none;
    background-color: #f8f8f8;
    overflow: hidden;
    padding: 1em 1em 0.5em;
}
p#reply_title {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 0.5em;
}
div.like .active{
    color: #f22;
}
div.like {
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}
div#timetime{
    width: 100px;
}
div#tagtag{
    width: 80px;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}
.blog-header-logo1 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;

}

