{% extends 'base.html' %}
{% block title %}我的网站{% endblock %}
{% block nav_blog_active %} active {% endblock %}

{% load staticfiles %}
{% block head-extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}">
    <link rel="stylesheet" href="{% static 'default.css' %}"/>
{% endblock %}

{% block content %}
    <div class="container-fluid" >
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive">
                    <div class="table table-striped">
                        <tbody>
                            <div class="panel panel-default">
                                <div class="panel-heading">描述</div>
                                <div class="panel-body">
                                    {{ blog_type_desc | safe}}
                                </div>
                            </div>
                                <ul class="nav ">
                                    {% for blogtitle in blogs %}
                                        <li id="atag"  ><a href="{% url 'blog_detail' blogtitle.pk %}?page={{ page_currn_num }}" class="glyphicon glyphicon-list-alt">--{{ blogtitle.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            <div class="paginationdiv">
                                        <ul class="pagination">
                                            <li>
                                                {% if page_of_blogs.has_previous %}
                                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                                {% else %}
                                                <span aria-hidden="true">&laquo;</span>
                                                {% endif %}
                                            </li>
                                                {# 全部页码 #}
                                                {% for page_num in page_range %}
                                                    {% if page_num == page_of_blogs.number %}
                                                    <li class="active"><span>{{ page_num }}</span></li>
                                                    {% else %}
                                                        {% if page_num == '...' %}
                                                        <li><span>{{ page_num }}</span></li>
                                                        {% else %}
                                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}

                                            <li>
                                                {% if page_of_blogs.has_next %}
                                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                {% else %}
                                                <span aria-hidden="true">&raquo;</span>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </div>
                        </tbody>
                    </div>
                </div>
            </div>
                <!-- <div class="panel panel-default">
{#                    <div class="panel-heading">{% block blog_list_title %}博客列表{% endblock %}</div>#}
                    <div class="panel-body">
                        <div class="blog">

                        </div>
{#                        {% for blog in blogs %}#}
                        <div class="blog">
{#                                <h4 id="atag"><a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a></h4>       #}
                            <p class="blog-info">
{#                                <div id="tagtag" class="glyphicon glyphicon-tags"><a href="{% url 'blogs_with_type' blog.blog_type.pk %}"> {{ blog.blog_type }}</a></div>#}
                                
{#                                <div id="timetime" class="glyphicon glyphicon-time">{{ blog.created_time|date:"Y-m-d" }}</div>#}
{#                                阅读（{{ blog.get_read_num }}）#}
{#                                评论数（{{ blog.get_comment_num }}）#}
                            </p>
                            
{#                            <p>{{ blog.content|truncatechars:120 }}</p>#}
                        </div>
{#                        {% empty %}#}
                        <div class="blog">
                            <h3>--暂无博客尽情期待--</h3>
                        </div>
{#                        {% endfor %}              #}
                    </div>
                </div> -->
                <!-- <div>                
                    
                    <p>
{#                        (本网站一共{{ page_of_blogs.paginator.count }}篇博客) #}
                    </p>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}