{% extends 'base.html' %}
{% block title %}{{ blog.title }}{% endblock %}
{% load staticfiles %}
{% load commenttags %}
{% block head-extends %}
    <link rel="stylesheet" href="{% static 'blog/blog.css' %}">
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}">
    <link rel="stylesheet" href="{% static 'default.css' %}"/>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    {% for blogtitle in blogs %}
                        <li id="atag"><a
                                href="{% url 'blog_detail' blogtitle.pk %}?page={{ page_currn_num }}">{{ blogtitle.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <div>
                    <ul class="pagination">
                        <li>
                            {% if page_of_blogs.has_previous %}
                                <a href="?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
                        {# 全部页码 #}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blogs.number %}
                                <li class="active"><span>{{ page_num }}</span></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                        <li>
                            {% if page_of_blogs.has_next %}
                                <a href="?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="table-responsive">
                    <div class="table table-striped">
                        <tbody>
                        <div class="blog-title">
                            <h2 style="font-weight: bold">{{ blog.title }}</h2>
                        </div>
                        <div class="blog-profile">
                            <ul class="blog-info-description">
                                <li>👨‍💼-作者:{{ blog.author }}</li>
                                <li id="atag">📚-分类:<a
                                        href="{% url 'blogs_with_type' blog.blog_type.pk %}">{{ blog.blog_type }}</a>
                                </li>
                                <li>👀-阅读({{ blog.get_read_num }})</li>
                                <li>📑-评论({{ blog.get_comment_num }})</li>
                                <li>🕕-发表日期: {{ blog.created_time|date:"Y-m-d h:n:s" }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-content markdown-body">{{ blog_content |safe }}</div>
                    <div class="like" onclick="setlike(this, '{% get_content_type blog %}', {{ blog.pk }})">
                        <button type="button" class="btn" style=" margin-top: 2em;">
                            <span class="glyphicon glyphicon-heart {% get_like_status blog %}"
                                  style="margin-right: 0.5em;"></span>
                            <span class="likesnum">{% get_like_count blog %}</span>
                            <span>喜欢</span>
                        </button>
                    </div>
                    <div class="blog-right-center">
                        <div class="preblog">
                            <p>上一篇：
                                {% if previous_blog %}
                                    <a href="{% url 'blog_detail' previous_blog.pk %}?page={{ page_currn_num }}">{{ previous_blog.title }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </p>
                        </div>
                        <div class="nextblog">
                            <p>下一篇：
                                {% if next_blog %}
                                    <a href="{% url 'blog_detail' next_blog.pk %}?page={{ page_currn_num }}">{{ next_blog.title }}</a>
                                {% else %}
                                    没有了
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="blog-right-centom">
                        <div class="coment-tip">
                            评论
                        </div>
                        <div class="comment-bt">
                            {% if user.is_authenticated %}
                                {#<form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">#}
                                <form id="comment_form" action="" method="POST" style="overflow:hidden">

                                    <label>{{ user.get_nickname_or_username }}，欢迎评论~</label>
                                    <div id="reply_content_container" style="display:none;">
                                        <p id="reply_title">回复：</p>
                                        <div id="reply_content"></div>
                                    </div>
                                    {% csrf_token %}
                                    <!-- 用模板标签实现了 之前comment_form是view中的detail方法返回的东西-->
                                    <!-- 这里作为参数的blog是Blog模型的一个实例-->
                                    {% get_comment_form blog as comment_form %}
                                    {% for field in comment_form %}
                                        {{ field }}
                                    {% endfor %}

                                    <span id="comment_error" class="text-danger pull-left"></span>
                                    <input type="submit" value="评论" class="btn btn-primary pull-right">
                                </form>
                            {% else %}
                                您尚未登录，登录之后方可评论~
                                <a class="btn btn-primary"
                                   href="{% url 'login' %}?from={{ request.get_full_path }}">登录</a>
                                <span> or </span>
                                <a class="btn btn-success" href="{% url 'register' %}?from={{ request.get_full_path }}">注册</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="comment-area">
                        <h3 class="comment-area-title">评论列表</h3>
                        <div id="comment_list">
                            <!-- 用模板标签实现了 -->
                            {% get_comment_list blog as  comments %}
                            {% for comment in comments %}
                                <div id="root_{{ comment.pk }}" class="comment">
                                    <!-- 根评论详情 -->
                                    <span>{{ comment.user.get_nickname_or_username }}</span>
                                    <span>({{ comment.comment_time|date:"Y-m-d H:i:s" }})：</span>
                                    <div id="comment_{{ comment.pk }}">
                                        {{ comment.text|safe }}
                                    </div>
                                    <!-- 点赞评论 -->
                                    <div class="like"
                                         onclick="setlike(this, '{% get_content_type comment %}', {{ comment.pk }})">
                                        <span class="glyphicon glyphicon-thumbs-up {% get_like_status comment %}"></span>
                                        <span class="likesnum">{% get_like_count comment %}</span>
                                    </div>
                                    <!-- 回复按钮 -->
                                    <a href="javascript:reply({{ comment.pk }});">回复</a>


                                    {% for reply in comment.root_comment.all %}
                                        <div class="reply">
                                            <span>{{ reply.user.get_nickname_or_username }}</span>
                                            <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                            <span>回复</span>
                                            <span>{{ reply.reply_to.get_nickname_or_username }}：</span>
                                            <div id="comment_{{ reply.pk }}">
                                                {{ reply.text|safe }}
                                            </div>
                                            <!-- 点赞评论 -->
                                            <div class="like"
                                                 onclick="setlike(this, '{% get_content_type reply %}', {{ reply.pk }})">
                                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status reply %}"></span>
                                                <span class="likesnum">{% get_like_count reply %}</span>
                                            </div>
                                            <!-- 回复按钮 -->
                                            <a href="javascript:reply({{ reply.pk }});">回复</a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% empty %}
                                <span id="no_comment">暂无评论</span>
                            {% endfor %}
                        </div>
                    </div>
                    </tbody>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
<!-- style="margin-top: 2em;border: 1px dashed;padding: 2em;"> -->

{% block script_extends %}
    <script type="text/javascript">
        // 点赞
        function setlike(obj, ct, blogpk) {
            $.ajax({
                url: "{% url 'set_likes' %}",
                type: 'GET',
                data: {
                    'ct': ct,
                    'objid': blogpk
                },
                // 因为请求的是同一个链接，所以会有缓存的情况
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] === 'SUCCESS') {
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'));
                        if (data['active'] === 'active') {
                            element.addClass("active");
                        } else {
                            element.removeClass("active");
                        }
                        // // 更新点赞数量
                        var element2 = $(obj.getElementsByClassName('likesnum'));
                        //.text是显示的东西，.val是值value
                        element2.text(data['numbers']);
                    }
                }
            })
        }

        // 评论
        $("#comment_form").submit(function () {
            //每次提交清空上次的错误信息，然后再判断这次的提交
            $("#comment_error").text('');
            // 判断是否为空
            if (CKEDITOR.instances["id_text"].document.getBody().getText().trim() == '') {
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();

            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if (data['status'] == "SUCCESS") {
                        if ($('#reply_comment_id').val() == '0') {
                            // 插入评论
                            var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#comment_list").prepend(comment_html);

                        } else {
                            // 插入回复
                            var reply_html = '<div class="reply"><span>' + data['username'] + '</span><span> (' + data['comment_time'] + ')</span><span> 回复 </span><span>' + data['reply_to'] + '：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        // var htmlhtml = '<li>评论（' + data['commens_nums'] + ')</li>';
                        // $('#comment_num').remove();
                        // $('#comment_num').append(htmlhtml);

                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $("#comment_error").text('评论成功');

                    } else {
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
            return false;
        });

        // 处理时间，我现在没运用到页面上
        function timeFormat(timestamp) {
            var datetime = new Date(timestamp * 1000);
            var year = datetime.getFullYear();
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }

        // reply_comment_id 是从上面的点击回复的时候传进来的
        function reply(reply_comment_id) {
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
                CKEDITOR.instances['id_text'].focus();
            });
        }
    </script>
{% endblock %}