div.panel-body{
    width: 100%;
    margin: 0 auto;
}
#formform{
    margin: 0 auto
}
.threelogintext{
    text-align: center;
    color: rgba(52, 54, 54, 0.4)
}
.threelogin{
    width: 50%;
    margin: 10px auto;
}
.github{
    width: 75px;
    height: 64px;
    display: block;
    background-image: url(../../../static/githublogin1.png);
    margin: 0 auto
}
.containter{
    margin: 0 auto
}
.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}