{% extends 'base.html' %}

{% block title %}我的网站|登录{% endblock %}
{% block nav_home_active %}active{% endblock %}
{% block content %}
</br>
</br>
</br>
</br>
</br>
    <div class="containter">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5">
                {% if not user.is_authenticated %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">登录</h3>
                    </div>
                    
                    <div class="panel-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <label ></label>
                                
                                <p>欢迎欢迎~~</p>
                            <label ></label>
                                
                                <p>热烈欢迎!!</p>
                            <span class=" text-danger">{{ login_form.non_field_errors }}</span>
                            <div class="clearfix"></div>
                            <a href="{% url 'forgot_password' %}" class="pull-left">密码我真的不小心给忘了</a>
                            <input type="submit" value="登录" class="btn btn-primary pull-right">
                        </form>
                    </div>
                    
                </div>
                {% else %}
                <span>未登录，跳转到首页...</span>
                {% csrf_token %}
                <script type="text/javascript">
                    window.location.href = '/';
                </script>
                {% endif %}                
            </div>
        </div>
    </div>    
{% endblock %}