
.ta-center {
    text-align: center;
    font-size: 55px;
    color:black;
    font-family:'Roboto Slab Bold',serif;
    font-weight: 700;
    margin-top: 2.5em;
}
header{
    height: 300px;
    position: relative;
    top: -22px;
    left: 0px;
    

    /* background-image: url(./home1.jpg) ; */
    /* background-size: cover; */
}
.home{
    height: 580px;
}
#wenzi{
    font-size: 35px;
    color: white;
    margin-top: 5em;
}
