div#home{
    height: 800px;
    width: 2000px;
    background-color: #ffcf10;;
    margin-top: -10;
    padding-top: 100;
}
.jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
}
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:#ffcf10;;
}
.ta-center {
    text-align: center;
    font-size: 55px;
    color:black;
    font-family:'Roboto Slab Bold',serif;
    font-weight: 700;
    margin-top: 2.5em;
}
header{
    height: 100px;
    position: relative;
    top: -22px;
    left: 0px;
    background-color:#ffcf10;;

    /* background-image: url(./home1.jpg) ; */
    /* background-size: cover; */
}
.home{
    height: 430px;
}
