.mainvue{
    width: 100%;
    padding: 50px;
    background-color: #dff0d8;
}
.subvue{
    margin: 20px;
    border: #2b542c 1px solid;
    padding: 10px;
    border-radius: 15px;
}
.active{
    background-color: greenyellow;
}