{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block  head-extends %}
    <link rel="stylesheet"  href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>

{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block content %}

<header class="home container-fluid movie-content">
    <div class="row" >
        <div class="ta-center" >
            <div id="hezi">
                📦
            </div>
            <div id="wenzi">
                <p>路漫漫其修远兮</p>
                <p>吾将上下而求索</p>
            </div>
        </div>
    </div>
        <div class="hot_data" >
            <div class="autodiv">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="onehot">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: white;">今日热门</div>
                            <div class="panel-body" id="today-hot">
                                <div v-for="data in today_hot">
                                    <li>📖 [[ data.id ]] </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="yeshot">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: white;">昨日热门</div>
                            <div class="panel-body" id="yes-hot">
                                {% for data in yes_hot_data %}
                                <li><a href="{% url 'blog_detail' data.content_object.pk %}">📖{{ data.content_object.title }}</a></li>
                                {% empty %}
                                暂无
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="sevenhot">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="background-color: white;">7天内热门</div>
                            <div class="panel-body" id="seven-hot">
                                {% for data in seven_hotdata %}
                                <li><a href="{% url 'blog_detail' data.id %}">📖{{ data.title }}</a></li>
                                {% empty %}
                                暂无
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="foot">
        <span class="footwenzi"><a href="http://beian.miit.gov.cn/"; target=_blank>*鲁ICP备2020042945号</a></span>
    </div>
</header>


    <script>
    var app = new Vue({
        el: "#today-hot",
        delimiters: ["[[","]]"],
        data: {
            today_hot:[]
        },
        mounted: function(){
            this.fetchData();
        },
        methods:{
            fetchData: function() {
                axios.get("/test").then(response=>{
                    this.today_hot = response.data;
                }),err=>{
                    console.log(err);
                };
            }
        }
    });

    </script>



<!-- <div class="col-xs-12 col-md-8" id="home" >
    <div class="jumbotron row">
        <div class="ta-center col-xs-12 col-md-8">
            <h1 >Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div> -->
{% endblock %}
