{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block  head-extends %}
    <link rel="stylesheet"  href="{% static 'home.css' %}">
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block content %}


<header class="home container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 " id="type-title">
            <div class="ta-center" id="wenzi">
                <p>本网站正在建设中，敬请期待</p>
                <span style="margin-right: 3.5em;">Choose > your life</span>
                <!-- <span>The future guides you now</span> -->
                    <p style="margin-right: 6em;margin-top: 2em;"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn</a></p>
                </span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 " id="type-title">
            <span>
                <img src="../static/home1.JPG" style="margin-top: 10em;margin-right: 10em;"/>
            </span>
        </div>
        
    </div>
</header>

<!-- <div class="col-xs-12 col-md-8" id="home" >
    <div class="jumbotron row">
        <div class="ta-center col-xs-12 col-md-8">
            <h1 >Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div> -->
{% endblock %}
