<!DOCTYPE html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    我的网站|首页
{% endblock %}

{% block  head-extends %}
    <link rel="stylesheet"  href="../static/vuecomp.css">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
{% endblock %}

{% block nav_home_active %} active {% endblock %}

{% block content %}
<header >
    <div class="mainvue">
        <div class="subvue" id="vue1">
            <p> data ：[[ data ]] </p>
            <p> count ：[[ count ]] </p>
            <p>Using mustaches: [[ rawHtml ]]</p>
            <p>Using v-html directive: <span v-html="rawHtml"></span></p>
            <button :disabled="isButtonDisabled" @[cliarg]="clickf">Button</button>
            <p>count + 1: [[ count + 1 ]]</p>
            <p>count对应的bool值: [[ count ? 'true' : 'false' ]]</p>
            <p>我是js表达式产生的data反转: [[ data.split('').reverse().join('') ]]</p>
            <p>我是vm的计算属性产生的反转: [[ reversemsg ]]</p>
            <!-- 计算属性是基于它们的响应式依赖进行缓存的 -->
            <p>我是vm的方法属性产生的反转: [[ reversemsg1() ]]</p>
            <!-- v-if 是是否渲染dom-->
            <!-- v-show 是是否显示dom，无论是否显示，都要渲染dom树-->
            <p v-if="seen">vm的seen值为true，所以你看到我了</p>
        </div>
        <div class="subvue" id="vue2" >
            <p>我是axios</p>
            <label>提问时间</label>
            <input v-model="question" placeholder="尝试输入问题">
            <p> 答案 ：[[ answer ]] </p>
        </div>
        <div class="subvue" id="vue3" :class="object" :style="style">[[ content ]]
            <button @click="click"> 点击来改变我的样式 </button>
        </div>
        <div class="subvue" id="vue4">
            <!-- 用 key 管理可复用的元素  -->
            <p v-if="vue"> Vue 简直太棒了</p>
            <p v-else> 我是else </p>
            <div>
                <template v-if="!vue">
                <p>1</p>
                <p>2</p>
            </template>
            </div>

            <form @submit.prevent="addnew">
                <label>添加下面的列表</label>
                <input v-model="behavioues" placeholder="">
                <button>提交</button>
            </form>
            <ul v-for="(item,index) of newb">
                <li>[[ item.content ]]>><button @click="remove(index)">删除</button></li>
            </ul>

            <p>遍历对象内的属性</p>
            <ul v-for="(val,na,ind) in obj">
                <li>[[ ind ]] -- [[ na ]] -- [[ val ]]</li>
            </ul>
            <p>遍历由对象组成的列表</p>
            <ul v-for="item in items">
                <li>[[ item.content]]</li>
            </ul>
            <p>计算方法：显示被2整除的数字</p>
            <ul v-for="item in filternumbers">
                <li>[[ item ]]</li>
            </ul>

            <p>方法：显示被2整除的数字</p>
            <ul v-for="item in nums">
                <li v-for="i in methodfornumber(item)">[[ i ]]</li>
            </ul>

        </div>
        <div class="subvue" id="vue5">
            <button @click="war('点击没有进行',$event)">方法传event</button>
            <button @click="war2">自动传event</button>
            <button @click.prevent="war3">事件修饰符阻止</button>
            <button @click.once="war3">只触发一次</button>
            <!-- 可以绑定多个事件 -->
            <input @keyup.ctrl.enter="keyup" @keyup.page-down="pagedown">
        </div>
        <div class="subvue" id="vue6">
            <!-- .lazy修饰符只有在form submit的时候才会和绑定的数据进行同步 -->
            <form @submit.prevent>
                <textarea v-model.lazy="texts"></textarea>
                <button type="submit">提交</button>
                <br>
                <br>
                <br>
                <p>多行文本值为：[[ texts ]]</p>
            </form>

            <input type="checkbox" id="checkbox0" value="我是第零个复选框" v-model="checks0">
            <label for="11"> 000-----选中的值是：[[ checks0 ]] </label>
            <p>
                <input type="checkbox" id="checkbox1" value="海贼" v-model="checks1">
                <label for="checkbox1"> 海贼 </label>
                <input type="checkbox" id="checkbox2" value="EVA" v-model="checks1">
                <label for="checkbox2"> EVA </label>
                <input type="checkbox" id="checkbox3" value="巨人" v-model="checks1">
                <label for="checkbox3"> 巨人 </label>
                <p>你喜欢的动漫：[[ checks1 ]]</p>
            </p>
            <p>
                <span>
                    性别：
                    <input type="radio" id="radio1" value="男" v-model="picked">
                    <label for="radio1">男</label>
                    <input type="radio" id="radio2" value="女" v-model="picked">
                    <label for="radio2">女</label>
                    <input type="radio" id="radio3" value="嗯？" v-model="picked">
                    <label for="radio3">嗯？</label>
                    所选为 [[ picked ]]
                </span>
            </p>
            <!-- parseFloat() -->
            <p>v-model.number 自动将用户的输入转换位数字格式而不是字符串</p>
            <p>v-model.trim 自动过滤用户输入的首尾空白字符</p>
            <div id="example-5">
                <select v-model="selected">
                    <option disabled value="">请选择</option>
                    <option value="请选择">请选择</option>
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
                <span>Selected: [[ selected ]]</span>
            </div>
            <div>
                <select v-model="selected">
                    <option v-for="option in options" :value="option.value">
                    [[ option.text ]]
                    </option>
                </select>
                <span>Selected: [[ selected ]]</span>
            </div>
        </div>
        <div class="subvue" id = "vue7" >
            <div :style="{ fontSize : postFontSize + 'em' }" >
                <buttom-counter v-for="obj in objs" :title="obj.title" :content="obj.content" @sizeadd="sizeaddd"></buttom-counter>
                <buttom-counter @sizeadd="postFontSize += $event">我是$event传值</buttom-counter>
            </div>
            <compinput v-model="msg"></compinput>
            <p> [[ msg ]] </p>
        </div>

        <div id="dynamic-component-demo" class="demo subvue">
          <button
            v-for="tab in tabs"
            v-bind:key="tab"
            v-bind:class="['tab-button', { active: currentTab === tab }]"
            v-on:click="currentTab = tab"
          >
            [[ tab ]]
          </button>

          <component v-bind:is="currentTabComponent" class="tab"></component>
        </div>

    </div>

</header>

    <script>
        // 普通例子
        var vm1 = new Vue({
            el : "#vue1",
            delimiters: ["[[","]]"],
            data : {
                count : 0,
                data : "abc",
                rawHtml: "<span style=\"color: red\">This should be red.</span>",
                isButtonDisabled : false,
                seen : true,
                cliarg : "click",
                clickf : function () {
                    console.log("我被点击了")
                }
            },
            computed : {
                reversemsg : {
                    get : function () {
                    return this.data.split('').reverse().join('')
                },
                    set : function (newvalue) {
                        console.log("设置为新值：" + newvalue)
                        this.data = newvalue
                    }
                }
            },
            methods: {
                reversemsg1: function () {
                    return this.data.split('').reverse().join('')
                }
            },
            created : function () {
                console.log("vm已被挂载")
            }
        })
        // 不要在选项 property 或回调上使用箭头函数
        // data的值发生变化，触发会函数
        // $watch接受两个参数，一个是要观察的值，一个是条件满足后触发的回调函数
        vm1.$watch('data',function (n,o){
            console.log(n,o)
        })

        // axios异步请求
        var vm2 = new Vue({
            el : "#vue2",
            delimiters: ["[[","]]"],
            data : {
                question : '',
                answer : ['我是答案']
            },
            watch : {
                question: function () {
                    this.getanserver()
                }
            },
            created : function () {
                // 延迟调用this.getanwser
                this.getanserver = _.debounce(this.getanwser,500)
            },
            methods: {
                getanwser : function () {
                    console.log(this.question)
                    if (this.question.indexOf('?') === -1){
                        this.answer = '一般问句都已问号结尾的哦'
                        return
                    }
                    this.answer = '请稍等'
                    var vm = this
                    axios.get('/test').then(function (response) {
                        resdata = response.data
                        vm.answer = '你输入的是个问题，我在远端获得的答案是：' + resdata[0].id
                    }).catch(function (error) {
                        vm.answer = 'error! : ' + error
                    })
                }
            }
        })

        // 绑定class和style
        var vm3 = new Vue({
            el : "#vue3",
            delimiters: ["[[","]]"],
            data : {
                object : {
                    active : true
                },
                content : '我是vue添加的样式',
                style : {
                    color:'red',
                    fontSize : '15px'
                }
            },
            methods : {
                click : function () {
                    prestate = this.object.active
                    this.object.active = !prestate
                    this.style.color = 'black'
                }
            }
        })

        // 条件渲染和列表渲染
        // filter()、concat() 和 slice()
        var vm4 = new Vue({
            el : "#vue4",
            delimiters: ["[[","]]"],
            data : {
                vue : true,
                items : [
                    {id : 1,content:'one'},
                    {id : 2,content: 'two'}
                ],
                obj : {
                    sleep : '睡觉',
                    eat : '吃饭',
                    see : '看'
                },
                behavioues : '',
                newb : [
                    {content:'contentone'},
                    {content:'contenttow'}
                ],
                numbers : [1,2,3,4,5],
                nums : [[1,2,],[6,7,8]]
            },
            computed: {
                filternumbers : function () {
                    return this.numbers.filter(function (item) {
                        return (item % 2) === 0
                    })
                }
            },
            methods : {
                addnew : function () {
                    this.newb.push({content:this.behavioues})
                    this.behavioues = ''
                },
                remove : function (index) {
                    this.newb.splice(index,1)
                },
                methodfornumber:function (item) {
                    return item.filter(function (i) {
                        return (i % 2) === 0
                    })
                }
            }
        })

        //原生dom事件是什么
        var vm5 = new Vue({
            el : "#vue5",
            delimiters: ["[[","]]"],
            data : {
                meg : '你好'
            },
            methods : {
                war : function (val1,e) {
                    // dom原生事件 MouseEvent {isTrusted: true, screenX: 157, screenY: 476, clientX: 157, clientY: 373, …}
                    console.log(e)
                    if (e){
                        // 方法最好只有纯粹的数据逻辑，而不是去处理 DOM 事件细节
                        e.preventDefault()
                    }
                    alert(val1)
                },
                war2 : function (e) {
                    console.log(e)
                },
                war3 : function () {
                    alert('事件修饰符可以干preventDefault()等的事情')
                },
                keyup : function () {
                    alert('你按了enter建')
                },
                pagedown : function () {
                    alert('你按了pagedown')
                }
            }
        })

        //表单绑定
        var vm6 = new Vue({
            el : "#vue6",
            delimiters: ["[[","]]"],
            data : {
                texts : '',
                checks0 : [],
                checks1 : [],
                picked : '',
                selected : '',
                options: [
                  { text: 'One', value: '111' },
                  { text: 'Two', value: '222'},
                  { text: 'Three', value: '333' }
                ]
            }
        })

        Vue.component('buttom-counter',{
            props : ['title','content'],
            delimiters: ["[[","]]"],
            data : function () {
                return {
                    count : 0
                }
            },
            // 注意$emit('sizeadd',1)中的1是数值类型，如果$emit('sizeadd','1')这样传的话，那就成了拼接字符串了，1 + 1变为11了
            // emit就是为了将自定义的事件传出去，然后让外部给这个事件定义上相关的方法，从而子组件可以改变父组件内的data数据
            template : `
                    <div>
                        <button @click="$emit('sizeadd',1)">点击我来增大字体</button>
                        <button @click="clickcount">点击我来增加count的值: [[ count ]],我的title是 [[ title ]],content是：[[ content ]] </button>
                        <slot></slot>
                    </div>
                    `,
            methods : {
                clickcount : function () {
                    this.count += 1
                }
            }
        })

        Vue.component('compinput',{
            props: ['value'],
            delimiters: ["[[","]]"],
            data : function () {
                return {
                    compmodel : ''
                }
            },
            template: `
            <input :value="value" @input="$emit('input',$event.target.value)">
            `
        })

        var vm7 = new Vue({
            el : "#vue7",
            delimiters: ["[[","]]"],
            data : {
                objs : [
                    {title : '111',content : '我是content1'},
                    {title : '222',content : '我是content2'}
                    ],
                postFontSize : 1,
                msg : 'msg'
            },
            methods : {
                sizeaddd : function (e) {
                    console.log(e)
                    this.postFontSize += e
                }
            }
        })

        Vue.component("tab-home", {
            delimiters: ["[[","]]"],
            template: "<div>Home component</div>"
          });
        Vue.component("tab-posts", {
            delimiters: ["[[","]]"],
            template: "<div>Posts component</div>"
          });
        Vue.component("tab-archive", {
            delimiters: ["[[","]]"],
            template: "<div>Archive component</div>"
          });

        new Vue({
            el: "#dynamic-component-demo",
            delimiters: ["[[","]]"],
            data: {
              currentTab: "Home",
              tabs: ["Home", "Posts", "Archive"]
            },
            computed: {
              currentTabComponent: function() {
                return "tab-" + this.currentTab.toLowerCase();
              }
            }
          });

    </script>

{% endblock %}
